<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XZ_WeChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FBCC0FF1D9A17B000AD6A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FBCC1181D9A17B000AD6A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FBCC1231D9A17B000AD6A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
